@{
    ViewBag.Title = "详情";
    ViewBag.LeftTop = "goback";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<article class="article-detail">
    <header>

        <h4 class="title">【新手向】半山练级前置任务（1~3、5）自强攻略心得</h4>
        <div class="info">
            <span><i class="fa fa-user"></i> <a href="#">Username</a></span>
            <span><i class="fa fa-book"></i> <a href="#">攻略</a></span>
            <span><i class="fa fa-clock-o"></i> 2016-8-9 18:03:07</span>
        </div>
    </header>
    <div class="content container">
        人民网里约热内卢8月8日电（记者 马剑 杨磊） 当地时间8日晚，中国运动员孙杨在里约奥运会男子200米自由泳决赛中夺得一枚金牌。

        赛后，孙杨说：“这枚200米的金牌来得很不容易，从伦敦奥运会开始，这个项目我一直是亚军，这枚金牌也算圆了自己的梦。”

        今天的比赛，孙杨开始一度落后，但是他凭借后半程的优势，一路猛追，最终获得冠军。孙杨说：“今天的比赛非常激烈，对手都知道我会在最后50米冲刺，所以他们一开始就用了全力，我也算顶住了压力。这几天高强度的比赛，对我的体能也是一个挑战，但是这对所有运动员都是一样的。”

        最后，孙杨说：“拿到这枚金牌我很开心，算是对父母和教练的回报吧。”
        <footer>
            <a href="#" class="fc-gray"><i class="fa fa-eye"></i> 28192</a>
            <a href="#" class="fc-gray"><i class="fa fa-thumbs-up"></i> 28192</a>
        </footer>
    </div>
</article>
<div class="container pt20">
    <section class="comments">
        <header>
            <h4>评论 <small>( 123条 )</small> <small class=" pull-right"><a href="#footer" class="btn btn-xs bg-primary">回复</a></small></h4>
        </header>
        <div class="media item">
            <div class="media-left">
                <a href="#">
                    <img class="media-object" src="~/Content/images/basic/text.png" />
                </a>
                <p class="text-center pt10">1楼</p>
            </div>
            <div class="media-body ">
                <div class="media-heading toh">
                    <h5><a href="@Url.Action("Home","User")">用户名 </a> <span class="pl10"><i class="fa fa-level-up"></i> 荣耀的单身狗</span></h5>
                </div>
                <div class="comment-content">
                    今天的比赛，孙杨开始一度落后，但是他凭借后半程的优势，一路猛追，最终获得冠军。孙杨说：“今天的比赛非常激烈，对手都知道我会在最后50米冲刺，所以他们一开始就用了全力，我也算顶住了压力。这几天高强度的比赛，对我的体能也是一个挑战，但是这对所有运动员都是一样的。”
                </div>
                <div class="datetime">发表于：2016-8-9 23:59:39</div>
            </div>
        </div>
        <div class="media item">
            <div class="media-left">
                <a href="#">
                    <img class="media-object" src="~/Content/images/basic/text.png" width="32" />
                </a><p class="text-center pt10">2楼</p>

            </div>
            <div class="media-body ">
                <div class="media-heading toh">
                    <h5><a href="@Url.Action("Home","User")">用户名 </a> <span class="pl10"><i class="fa fa-level-up"></i> 荣耀的单身狗</span></h5>
                </div>
                <div class="comment-content">
                    <div class="quote">
                        <div class="quote-info">回复 【1楼】<b>王八蛋</b> ：</div>
                        <i class="fa fa-quote-left"></i>
                        今天的比赛，孙杨开始一度落后但是他凭借后半程的优势，一路猛追，最终获得冠军。孙杨说：“今天的比赛非常激烈，对手都知道我会在最后50米冲刺，所以他们一开
                        <i class="fa fa-quote-right"></i>
                    </div>
                    今天的比赛，孙杨开始一度落后，但是他凭借后半程的优势，一路猛追，最终获得冠军。孙杨说：“今天的比赛非常激烈，对手都知道我会在最后50米冲刺，所以他们一开始就用了全力，我也算顶住了压力。这几天高强度的比赛，对我的体能也是一个挑战，但是这对所有运动员都是一样的。”
                </div>
                <div class="datetime">发表于：2016-8-9 23:59:39</div>
            </div>
        </div>
        <div class="media item">
            <div class="media-left">
                <a href="#">
                    <img class="media-object" src="~/Content/images/basic/text.png" width="32" />
                </a>
            </div>
            <div class="media-body ">
                <div class="media-heading toh">
                    <h5><a href="@Url.Action("Home","User")">用户名 </a> <span class="pl10"><i class="fa fa-level-up"></i> 荣耀的单身狗</span></h5>
                </div>
                <div class="comment-content">
                    今天的比赛，孙杨开始一度落后，但是他凭借后半程的优势，一路猛追，最终获得冠军。孙杨说：“今天的比赛非常激烈，对手都知道我会在最后50米冲刺，所以他们一开始就用了全力，我也算顶住了压力。这几天高强度的比赛，对我的体能也是一个挑战，但是这对所有运动员都是一样的。”
                </div><div class="datetime">发表于：2016-8-9 23:59:39</div>

            </div>
        </div>
    </section>
    <section class="my-comment">
        <h4>我的评论</h4>
        <div class="media">
            <div class="media-left">
                <a href="#">
                    <img class="media-object" src="~/Content/images/basic/text.png" />
                </a>
            </div>
            <div class="media-body ">
                <div class="media-heading toh">
                    <div class="row">
                        <div class="col-xs-6 ">
                            <h5><a href="#">用户名 </a> </h5>
                        </div>
                        <div class="col-xs-6 text-right">
                            0字
                        </div>
                    </div>
                </div>
                <section class="comment-form">
                    <textarea rows="2" placeholder="小帅哥快来玩呀~"></textarea>
                    <div class="comment-from-control clearfix">
                        <button type="button" class="btn pull-right bg-primary" title="起飞！">
                            <i class="fa  fa-send"></i>
                        </button>
                    </div>
                </section>
            </div>
        </div>
    </section>
</div>
