@{
    ViewBag.Title = "文章列表";
    ViewBag.LeftTop = "category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_article_category")

<div class="container article">
    <article class="item">
        <h5 class="toh title"><a href="@Url.Action("Detail","Article")">【新手向】半山练级前置任务（1~3、5）自强攻略心得</a></h5>
        <footer>
            <span><i class="fa fa-user"></i> <a href="#">Username</a></span>
            <span><a href="#">攻略</a></span>
            <span><i class="fa fa-clock-o"></i> 2016-8-9 10:12:23</span>
        </footer>
    </article>
    <article class="item">
        <h5 class="toh title"><a href="#">【新手向】半山练级前置任务（1~3、5）自强攻略心得</a></h5>
        <footer>
            <span><i class="fa fa-user"></i> <a href="#">Username</a></span>
            <span><a href="#">攻略</a></span>
            <span><i class="fa fa-clock-o"></i> 2016-8-9 10:12:23</span>
        </footer>
    </article>
    <article class="item">
        <h5 class="toh title"><a href="#">【新手向】半山练级前置任务（1~3、5）自强攻略心得</a></h5>
        <footer>
            <span><i class="fa fa-user"></i> <a href="#">Username</a></span>
            <span><a href="#">攻略</a></span>
            <span><i class="fa fa-clock-o"></i> 2016-8-9 10:12:23</span>
        </footer>
    </article>
    <article class="item">
        <h5 class="toh title"><a href="#">【新手向】半山练级前置任务（1~3、5）自强攻略心得</a></h5>
        <footer>
            <span><i class="fa fa-user"></i> <a href="#">Username</a></span>
            <span><a href="#">攻略</a></span>
            <span><i class="fa fa-clock-o"></i> 2016-8-9 10:12:23</span>
        </footer>
    </article>
    <article class="item">
        <h5 class="toh title"><a href="#">【新手向】半山练级前置任务（1~3、5）自强攻略心得</a></h5>
        <footer>
            <span><i class="fa fa-user"></i> <a href="#">Username</a></span>
            <span><a href="#">攻略</a></span>
            <span><i class="fa fa-clock-o"></i> 2016-8-9 10:12:23</span>
        </footer>
    </article>
    <article class="item">
        <h5 class="toh title"><a href="#">【新手向】半山练级前置任务（1~3、5）自强攻略心得</a></h5>
        <footer>
            <span><i class="fa fa-user"></i> <a href="#">Username</a></span>
            <span><a href="#">攻略</a></span>
            <span><i class="fa fa-clock-o"></i> 2016-8-9 10:12:23</span>
        </footer>
    </article>
    <article class="item">
        <h5 class="toh title"><a href="#">【新手向】半山练级前置任务（1~3、5）自强攻略心得</a></h5>
        <footer>
            <span><i class="fa fa-user"></i> <a href="#">Username</a></span>
            <span><a href="#">攻略</a></span>
            <span><i class="fa fa-clock-o"></i> 2016-8-9 10:12:23</span>
        </footer>
    </article>
    <article class="item">
        <h5 class="toh title"><a href="#">【新手向】半山练级前置任务（1~3、5）自强攻略心得</a></h5>
        <footer>
            <span><i class="fa fa-user"></i> <a href="#">Username</a></span>
            <span><a href="#">攻略</a></span>
            <span><i class="fa fa-clock-o"></i> 2016-8-9 10:12:23</span>
        </footer>
    </article>
    <article class="item">
        <h5 class="toh title"><a href="#">【新手向】半山练级前置任务（1~3、5）自强攻略心得</a></h5>
        <footer>
            <span><i class="fa fa-user"></i> <a href="#">Username</a></span>
            <span><a href="#">攻略</a></span>
            <span><i class="fa fa-clock-o"></i> 2016-8-9 10:12:23</span>
        </footer>
    </article>
    <article class="item">
        <h5 class="toh title"><a href="#">【新手向】半山练级前置任务（1~3、5）自强攻略心得</a></h5>
        <footer>
            <span><i class="fa fa-user"></i> <a href="#">Username</a></span>
            <span><a href="#">攻略</a></span>
            <span><i class="fa fa-clock-o"></i> 2016-8-9 10:12:23</span>
        </footer>
    </article>
    <article class="item">
        <h5 class="toh title"><a href="#">【新手向】半山练级前置任务（1~3、5）自强攻略心得</a></h5>
        <footer>
            <span><i class="fa fa-user"></i> <a href="#">Username</a></span>
            <span><a href="#">攻略</a></span>
            <span><i class="fa fa-clock-o"></i> 2016-8-9 10:12:23</span>
        </footer>
    </article>
</div>