@{
    ViewBag.Title = "物品";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-9">
        <ol class="breadcrumb">
            <li><a href="#">首页</a></li>
            <li class="active">全部物品</li>
        </ol>
        <div class="row item-list">
            <div class="col-md-4 col-sm-4">
                <div class="media item">
                    <div class="media-left media-middle">
                        <a href="#" title="" class="item-img">
                            <img src="~/Content/images/test/item.png" alt="...">
                        </a>
                    </div>
                    <div class="media-body pl10">
                        <h4 class="media-heading"><a href="#" title="魔导研究塔的钥匙" class="item-title">魔导研究塔的钥匙</a></h4>
                        <div class="list-table list-table-middle">
                            <div>
                                分类：<a href="#" title="宝石">宝石</a>
                            </div>
                            <div>
                                等级：0
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="media item">
                    <div class="media-left media-middle">
                        <a href="#" title="" class="item-img">
                            <img src="~/Content/images/test/item_1.png" alt="...">
                        </a>
                    </div>
                    <div class="media-body pl10">
                        <h4 class="media-heading"><a href="#" title="魔导研究塔的钥匙" class="item-title">魔导研究塔的钥匙</a></h4>
                        <div class="list-table list-table-middle">
                            <div>
                                分类：<a href="#" title="宝石">宝石</a>
                            </div>
                            <div>
                                等级：0
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="media item">
                    <div class="media-left media-middle">
                        <a href="#" title="" class="item-img">
                            <img src="~/Content/images/test/item_1.png" alt="...">
                        </a>
                    </div>
                    <div class="media-body pl10">
                        <h4 class="media-heading"><a href="#" title="魔导研究塔的钥匙" class="item-title">魔导研究塔的钥匙</a></h4>
                        <div class="list-table list-table-middle">
                            <div>
                                分类：<a href="#" title="宝石">宝石</a>
                            </div>
                            <div>
                                等级：0
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <ul class="pagination">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-3">
        <section class="section">
            <h3 class="section-title">所有分类</h3>
            <ul class="list-side">
                <li><a href="#" title=""> <span class="other">10</span> 武器</a></li>
            </ul>
        </section>
    </div>
</div>

