@{
    ViewBag.Title = "匹配系统";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="match-screen">

    <div class="row">
        <div class="col-md-9">

        </div>
        <div class="col-md-3">
            
        </div>
    </div>

</div>
<div class="match ">
    <div class="row">
        <div class="col-md-4">
            <div class="match-item">
                <h4 class="match-title"><small>任务</small>半山任务事件</h4>

                <div class="content">
                    3小时起步，自备粮草，半小时跳车自杀去半小时跳车自杀去半小时跳车自杀去半小时跳车自杀去半小时跳车自杀去半小时跳车自杀去
                </div>
                <div class="teammate-group">
                    <div class="item captain ready">
                        我是队长姓名
                        <span>职业：<b>群攻</b></span>
                    </div>
                    <div class="item ready">
                        <span>职业：<b>群攻</b></span>
                        <span>性别：<b>男</b></span>
                        <span>技能等级：<b>不限</b></span>
                    </div>
                    <div class="item ready ">
                        <span>职业：<b>群攻</b></span>
                        <span>性别：<b>男</b></span>
                        <span>技能等级：<b>不限</b></span>
                    </div>
                    <div class="item">
                        <span>职业：<b>群攻</b></span>
                        <span>性别：<b>男</b></span>
                        <span>技能等级：<b>不限</b></span>
                    </div>
                    <div class="item">
                        <span>职业：<b>群攻</b></span>
                        <span>性别：<b>男</b></span>
                        <span>技能等级：<b>不限</b></span>
                    </div>
                </div>
                <div class=" pt15">
                    <div class="col-sm-6">
                        <a href="#" class="btn btn-block btn-sm btn-match-join" title="加入">加入</a>
                    </div>
                    <div class="col-sm-6">
                        <a href="#" class="btn btn-block btn-sm btn-match-detail" title="详情">详情</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="match-item">
                <h4 class="match-title"><small>任务</small>任务练级</h4>
                <div class="content">
                    3小时起步，自备粮草，半小时跳车自杀去半小时跳车自杀去半小时跳车自杀去半小时跳车自杀去半小时跳车自杀去半小时跳车自杀去
                </div>
                <div class="teammate-group">
                    <div class="item captain ready">
                        我是队长姓名
                        <span>职业：<b>群攻</b></span>
                    </div>
                    <div class="item ">
                        <span>职业：<b>群攻</b></span>
                        <span>性别：<b>男</b></span>
                        <span>技能等级：<b>不限</b></span>
                    </div>
                    <div class="item">
                        <span>职业：<b>群攻</b></span>
                        <span>性别：<b>男</b></span>
                        <span>技能等级：<b>不限</b></span>
                    </div>
                </div>
                <div class=" pt15">
                    <div class="col-sm-6">
                        <a href="#" class="btn btn-block btn-sm btn-match-join" title="加入">加入</a>
                    </div>
                    <div class="col-sm-6">
                        <a href="#" class="btn btn-block btn-sm btn-match-detail" title="详情">详情</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="match-item">
                <h4 class="match-title"><small>任务</small>任务练级</h4>
                <div class="content">
                    3小时起步，自备粮草，半小时跳车自杀去半小时跳车自杀去半小时跳车自杀去半小时跳车自杀去半小时跳车自杀去半小时跳车自杀去
                </div>
                <div class="teammate-group">
                    <div class="item captain ready">
                        我是队长姓名
                        <span>职业：<b>群攻</b></span>
                    </div>
                    <div class="item ready ">
                        <span>职业：<b>群攻</b></span>
                        <span>性别：<b>男</b></span>
                        <span>技能等级：<b>不限</b></span>
                    </div>
                    <div class="item">
                        <span>职业：<b>群攻</b></span>
                        <span>性别：<b>男</b></span>
                        <span>技能等级：<b>不限</b></span>
                    </div>
                    <div class="item">
                        <span>职业：<b>群攻</b></span>
                        <span>性别：<b>男</b></span>
                        <span>技能等级：<b>不限</b></span>
                    </div>
                </div>
                <div class=" pt15">
                    <div class="col-sm-6">
                        <a href="#" class="btn btn-block btn-sm btn-match-join" title="加入">加入</a>
                    </div>
                    <div class="col-sm-6">
                        <a href="#" class="btn btn-block btn-sm btn-match-detail" title="详情">详情</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="match-item match-leveling">
                <h4 class="match-title"><small>练级</small> 法兰王国练级</h4>
                <div class="content">
                    3小时起步，自备粮草，半小时跳车自杀去半小时跳车自杀去半小时跳车自杀去半小时跳车自杀去半小时跳车自杀去半小时跳车自杀去
                </div>
                <div class="teammate-group">
                    <div class="item captain ready">
                        我是队长姓名
                        <span>职业：<b>群攻</b></span>
                    </div>
                    <div class="item ready">
                        <span>职业：<b>群攻</b></span>
                        <span>性别：<b>男</b></span>
                        <span>技能等级：<b>不限</b></span>
                    </div>
                    <div class="item ready">
                        <span>职业：<b>群攻</b></span>
                        <span>性别：<b>男</b></span>
                        <span>技能等级：<b>不限</b></span>
                    </div>
                </div>
                <div class=" pt10">
                    <div class="col-sm-6">
                        <a href="#" class="btn btn-block btn-sm btn-match-join" title="加入">加入</a>
                    </div>
                    <div class="col-sm-6">
                        <a href="#" class="btn btn-block btn-sm btn-match-detail" title="详情">详情</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="match-item">
                <h4 class="match-title"><small>任务</small>任务练级</h4>
                <div class="content">
                    3小时起步，自备粮草，半小时跳车自杀去半小时跳车自杀去半小时跳车自杀去半小时跳车自杀去半小时跳车自杀去半小时跳车自杀去
                </div>
                <div class="teammate-group">
                    <div class="item captain ready">
                        我是队长姓名
                        <span>职业：<b>群攻</b></span>
                    </div>
                    <div class="item ready">
                        <span>职业：<b>群攻</b></span>
                        <span>性别：<b>男</b></span>
                        <span>技能等级：<b>不限</b></span>
                    </div>
                    <div class="item ready">
                        <span>职业：<b>群攻</b></span>
                        <span>性别：<b>男</b></span>
                        <span>技能等级：<b>不限</b></span>
                    </div>
                    <div class="item ready ">
                        <span>职业：<b>群攻</b></span>
                        <span>性别：<b>男</b></span>
                        <span>技能等级：<b>不限</b></span>
                    </div>
                </div>
                <div class=" pt15">
                    <div class="col-sm-6">
                        <a href="#" class="btn btn-block btn-sm btn-match-join" title="加入">加入</a>
                    </div>
                    <div class="col-sm-6">
                        <a href="#" class="btn btn-block btn-sm btn-match-detail" title="详情">详情</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
