@{
    ViewBag.Title = "任务";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-9">
        <ol class="breadcrumb">
            <li><a href="#">首页</a></li>
            <li class="active">全部任务</li>
        </ol>
        <section class="section mission-list">
            <div class="item">
                <a href="#" class="item-title" title="">
                    宝石的试炼 <small class="fc-gray pl10 toh">这里是俗称</small>
                </a>
                <div class="row">
                    <div class="col-md-3">
                        <span class="fc-gray">分类：</span>
                        <a href="#" title="">法兰王国的暗流系列</a>
                    </div>
                    <div class="col-md-5">
                        <div class="toh" title="必要条件：完成《未来之塔》任务；持有【闪亮的勇者徽章】">
                            <span class="fc-gray">必要条件：</span>
                            完成《未来之塔》任务；持有【闪亮的勇者徽章】
                        </div>
                    </div>
                    <div class="col-md-2 text-right">
                        <span class="fc-gray">建议等级：</span>
                        <span class="fc-red">20</span>
                    </div>

                    <div class="col-md-2 text-right">
                        <span class="fc-gray">重做：</span>
                        <span class="fa fa-check fc-red"></span>
                    </div>
                </div>
            </div>
            <div class="item">
                <a href="#" class="item-title" title="">
                    宝石的试炼 <small class="fc-gray pl10 toh">这里是俗称</small>
                </a>
                <div class="row">
                    <div class="col-md-3">
                        <span class="fc-gray">分类：</span>
                        <a href="#" title="查看该系列">法兰王国的暗流系列</a>
                    </div>
                    <div class="col-md-5">
                        <div class="toh" title="必要条件：完成《未来之塔》任务；持有【闪亮的勇者徽章】">
                            <span class="fc-gray">必要条件：</span>
                            完成《未来之塔》任务；持有【闪亮的勇者徽章】
                        </div>
                    </div>
                    <div class="col-md-2 text-right">
                        <span class="fc-gray">建议等级：</span>
                        <span class="fc-red">20</span>
                    </div>

                    <div class="col-md-2 text-right">
                        <span class="fc-gray">重做：</span>
                        <span class="fa fa-check fc-red"></span>
                    </div>
                </div>
            </div>
            <div class="item">
                <a href="#" class="item-title" title="">
                    宝石的试炼 <small class="fc-gray pl10 toh">这里是俗称</small>
                </a>
                <div class="row">
                    <div class="col-md-3">
                        <span class="fc-gray">分类：</span>
                        <a href="#" title="">法兰王国的暗流系列</a>
                    </div>
                    <div class="col-md-5">
                        <div class="toh" title="必要条件：完成《未来之塔》任务；持有【闪亮的勇者徽章】">
                            <span class="fc-gray">必要条件：</span>
                            完成《未来之塔》任务；持有【闪亮的勇者徽章】
                        </div>
                    </div>
                    <div class="col-md-2 text-right">
                        <span class="fc-gray">建议等级：</span>
                        <span class="fc-red">20</span>
                    </div>

                    <div class="col-md-2 text-right">
                        <span class="fc-gray">重做：</span>
                        <span class="fa fa-check fc-red"></span>
                    </div>
                </div>
            </div>
        </section>
        <div class="text-center">
            <ul class="pagination">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </div>
        @*以下在点击筛选后显示*@
        <section class="section mt20 page-about page-about-article">
            <h3 class="section-title">
                <span class="fc-gray">相关文章</span>
            </h3>
            <ul class="list-text row">
                <li class="col-md-6">
                    <div class="toh">
                        <a href="#" class="cate" title="" target="_blank">攻略</a>
                        <a href="#" class="title" title="" target="_blank">
                            新闻标题一定要够长才能爽新闻标题一定要够长才能爽新闻标题一定要够长才能爽新闻标题一定要够长才能爽
                        </a>
                    </div>
                </li>
                <li class="col-md-6 ">
                    <div class="toh">
                        <a href="#" class="cate" title="" target="_blank">攻略</a>
                        <a href="#" class="title" title="" target="_blank">
                            新闻标题一定要够长才能爽新闻标题一定要够长才能爽新闻标题一定要够长才能爽新闻标题一定要够长才能爽
                        </a>
                    </div>
                </li>
                <li class="col-md-6">
                    <div class="toh">
                        <a href="#" class="cate" title="" target="_blank">攻略</a>
                        <a href="#" class="title" title="" target="_blank">
                            新闻标题一定要够长才能爽新闻标题一定要够长才能爽新闻标题一定要够长才能爽新闻标题一定要够长才能爽
                        </a>
                    </div>
                </li>
                <li class="col-md-6 ">
                    <div class="toh">
                        <a href="#" class="cate" title="" target="_blank">攻略</a>
                        <a href="#" class="title" title="" target="_blank">
                            新闻标题一定要够长才能爽新闻标题一定要够长才能爽新闻标题一定要够长才能爽新闻标题一定要够长才能爽
                        </a>
                    </div>
                </li>
                <li class="col-md-6">
                    <div class="toh">
                        <a href="#" class="cate" title="" target="_blank">攻略</a>
                        <a href="#" class="title" title="" target="_blank">
                            新闻标题一定要够长才能爽新闻标题一定要够长才能爽新闻标题一定要够长才能爽新闻标题一定要够长才能爽
                        </a>
                    </div>
                </li>
                <li class="col-md-6 ">
                    <div class="toh">
                        <a href="#" class="cate" title="" target="_blank">攻略</a>
                        <a href="#" class="title" title="" target="_blank">
                            新闻标题一定要够长才能爽新闻标题一定要够长才能爽新闻标题一定要够长才能爽新闻标题一定要够长才能爽
                        </a>
                    </div>
                </li>
            </ul>
            <div class="text-center pt10">
                <a href="#" class="page-about-more" title="">
                    查看更多
                </a>
            </div>
        </section>

        <section class="section mt20 page-about page-about-matching">
            <h3 class="section-title">
                <span class="fc-gray">相关组队</span>
            </h3>
            <ul class="list-text row">
                <li class="col-md-6">
                    <div class="toh">
                        <a href="#" class="cate " title="" target="_blank">任务</a>
                        <a href="#" class="title" title="" target="_blank">
                            新闻标题一定要够长才能爽新闻标题一定要够长才能爽新闻标题一定要够长才能爽新闻标题一定要够长才能爽
                        </a>
                    </div>
                </li>
                <li class="col-md-6 ">
                    <div class="toh">
                        <a href="#" class="cate leveling" title="" target="_blank">练级</a>
                        <a href="#" class="title" title="" target="_blank">
                            新闻标题一定要够长才能爽新闻标题一定要够长才能爽新闻标题一定要够长才能爽新闻标题一定要够长才能爽
                        </a>
                    </div>
                </li>
                <li class="col-md-6">
                    <div class="toh">
                        <a href="#" class="cate" title="" target="_blank">任务</a>
                        <a href="#" class="title" title="" target="_blank">
                            新闻标题一定要够长才能爽新闻标题一定要够长才能爽新闻标题一定要够长才能爽新闻标题一定要够长才能爽
                        </a>
                    </div>
                </li>
                <li class="col-md-6 ">
                    <div class="toh">
                        <a href="#" class="cate leveling" title="" target="_blank">练级</a>
                        <a href="#" class="title" title="" target="_blank">
                            新闻标题一定要够长才能爽新闻标题一定要够长才能爽新闻标题一定要够长才能爽新闻标题一定要够长才能爽
                        </a>
                    </div>
                </li>
                <li class="col-md-6">
                    <div class="toh">
                        <a href="#" class="cate leveling" title="" target="_blank">练级</a>
                        <a href="#" class="title" title="" target="_blank">
                            新闻标题一定要够长才能爽新闻标题一定要够长才能爽新闻标题一定要够长才能爽新闻标题一定要够长才能爽
                        </a>
                    </div>
                </li>
                <li class="col-md-6 ">
                    <div class="toh">
                        <a href="#" class="cate" title="" target="_blank">任务</a>
                        <a href="#" class="title" title="" target="_blank">
                            新闻标题一定要够长才能爽新闻标题一定要够长才能爽新闻标题一定要够长才能爽新闻标题一定要够长才能爽
                        </a>
                    </div>
                </li>
            </ul>
            <div class="text-center pt10">
                <a href="#" class="page-about-more" title="">
                    查看更多
                </a>
            </div>
        </section>

    </div>
    <div class="col-md-3">
        <section class="section">
            <h3 class="section-title">所有分类</h3>
            <ul class="list-side">
                <li><a href="#" title=""> <span class="other">10</span> 热门任务</a></li>
                <li><a href="#" title=""> <span class="other">10</span> 半山系列</a></li>
                <li><a href="#" title=""> <span class="other">10</span> 法兰王国的暗流系列</a></li>
                <li><a href="#" title=""> <span class="other">10</span> 黑与白的漩涡系列</a></li>
                <li><a href="#" title=""> <span class="other">10</span> 怀旧服其他自制任务</a></li>
                <li><a href="#" title=""> <span class="other">10</span> 羁绊系列</a></li>
                <li><a href="#" title=""> <span class="other">10</span> 经典任务</a></li>
                <li><a href="#" title=""> <span class="other">10</span> 砍狗系列</a></li>
                <li><a href="#" title=""> <span class="other">10</span> 兰国/艾国勋章系列</a></li>
                <li><a href="#" title=""> <span class="other">10</span> 临时活动/任务</a></li>
                <li><a href="#" title=""> <span class="other">10</span> 龙之沙漏系列</a></li>
                <li><a href="#" title=""> <span class="other">10</span> 龙族的纷争系列</a></li>
                <li><a href="#" title=""> <span class="other">10</span> 诺斯菲拉特大陆系列</a></li>
                <li><a href="#" title=""> <span class="other">10</span> 七宗罪系列</a></li>
                <li><a href="#" title=""> <span class="other">10</span> 失落的炼金术系列</a></li>
                <li><a href="#" title=""> <span class="other">10</span> 时长/道具服任务</a></li>
                <li><a href="#" title=""> <span class="other">10</span> 时空之门系列</a></li>
                <li><a href="#" title=""> <span class="other">10</span> 洗礼系列</a></li>
                <li><a href="#" title=""> <span class="other">10</span> 新村&新城系列</a></li>
                <li><a href="#" title=""> <span class="other">10</span> 职业晋阶任务</a></li>
                <li><a href="#" title=""> <span class="other">10</span> 职业就职任务</a></li>
                <li><a href="#" title=""> <span class="other">10</span> 职业就职任务</a></li>
            </ul>
        </section>
    </div>
</div>

