<section id="toggleCate" data-bodyscroll="no" class="toggle-page toggle-hide article-cate">
    <div class="content">
        <h4 class="section-title">新手指引</h4>
        <ul class="nav nav-pills nav-stacked">
            <li> <a href="#" title="魔力各服区别">魔力各服区别</a> </li>
            <li> <a href="#" title="公式设定">怀旧服练级指南</a> </li>
            <li> <a href="#" title="经验分享">道具服练级指南</a> </li>
            <li> <a href="#" title="任务攻略">魔力常用词解释</a> </li>
            <li> <a href="#" title="剧情对话">怀旧服各线用途</a> </li>
        </ul>
        <h4 class="section-title">攻略</h4>
        <ul class="nav nav-pills nav-stacked">
            <li> <a href="#" title="生产相关">生产相关</a> </li>
            <li> <a href="#" title="公式设定">公式设定</a> </li>
            <li> <a href="#" title="经验分享">经验分享</a> </li>
            <li> <a href="#" title="任务攻略">任务攻略</a> </li>
            <li> <a href="#" title="剧情对话">剧情对话</a> </li>
            <li> <a href="#" title="视频直播">视频直播</a> </li>
            <li> <a href="#" title="资料收集">资料收集</a> </li>
        </ul>
    </div>
</section>